body {
  margin: auto;
  color: black;
  font-weight: bold !important;
  background-image: fill;
  font-size: 15px;
  font-family: "Cairo", sans-serif;
  background-image: url(../img/weather-background.png);
  background-attachment: fixed;
  background-size: contain;
}

header {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: rgb(88, 87, 87);
  margin-top: 10px;
  margin-bottom: 8px;
  opacity: 0.9;
}

ul {
  list-style-type: none;
  text-align: left;
  /* list-style-image: url("sqpurple.gif"); */
}
h2 {
  font-size: 40px !important;
  font-family: "Cairo", sans-serif;
  font-weight: 600 !important;
}

footer {
  color: white;
  border-radius: 30px;
  font-family: "Cairo", sans-serif;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
}

#description {
  font-size: 20px;
  text-decoration: overline;
}

#display-date {
  padding: 3px;
  margin: 0;
}
#fahrenheit-link {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
#celsius-link {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
#fahrenheit-link:hover {
  color: rgb(90, 109, 129) !important;
  text-decoration: underline;
  font-weight: bold;
  transition: ease-in-out;
}
#celsius-link:hover {
  color: rgb(90, 109, 129) !important;
  text-decoration: underline;
  font-weight: bold;
  transition: ease-in-out;
}
#forecastMaxTemp {
  font-size: 18px;
  font-weight: bold;
}
#forecastMinTemp {
  color: rgb(85, 85, 85);
  font-weight: bold;
  font-size: 18px;
}
.heading-wrap {
  margin-top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 1;
  text-align: center;
}

.form-group {
  font-weight: bold;
  font-family: "Cairo", sans-serif;
  margin: 0 auto;
  max-width: 700px;
}

.current-date {
  font-family: "Cairo", sans-serif;
  font-size: 18px;
}
.city-entered {
  padding-top: 30px;
  font-size: 45px;
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
}
.country {
  font-size: 20px;
  text-decoration: underline;
  padding-bottom: 15px;
}
.middle-card {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 18px;
  max-width: 750px;
  background-color: rgba(216, 216, 216, 0.5);
  margin: 0 auto;
  margin-top: 16px;
  padding: 10px;
  border: 2px solid rgb(112, 134, 158);
  border-radius: 8px;
}
.condition-details {
  font-family: "Cairo", sans-serif;
  font-size: 20px !important;
}
.btn-option {
  font-size: 16px;
  color: black;
  font-weight: bold;
}
.btn {
  margin-top: 6px;
  font-weight: bold !important;
  display: inline-block;
  margin: 3px !important;
  border: 1px solid #ebe8e8 !important;
  text-decoration: none;
  color: #000000 !important;
  background-color: #cccccc !important;
  text-align: center !important;
  position: relative !important;
}
.btn:hover {
  background-color: #ebe8e8 !important;
  border: 1px solid #cccccc !important;
}

#icon {
  width: 150px !important;
}

.row {
  text-align: center;
}
.temp-feel {
  font-family: "Cairo", sans-serif;
}

.WeatherForecast {
  font-family: "Cairo", sans-serif;
  text-align: center;
}
.forecast-icon {
  padding: 3px !important;
  font-size: 30px !important;
  opacity: 0.9 !important;
}

.day {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.fa-moon {
  font-size: 12px;
}
.page-updated {
  font-family: "Cairo", sans-serif;
  font-size: smaller;
  margin: 0;
}
.source-link {
  color: white;
}
.host-link {
  color: white;
}
.source-link:hover {
  color: white;

  text-decoration: none;
  transition: ease-in-out;
  font-weight: bold;
}

.host-link:hover {
  color: white;
  text-decoration: none;
  transition: ease-in-out;
  font-weight: bold;
}
.footer-icon {
  width: 36px;
  border: 2px solid rgb(128, 128, 128);
  border-radius: 35px;
}
.footer-icon:hover {
  border: 3px solid rgb(198, 158, 152);
  transition: ease-in-out;
}
.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
